/* 연습 문제 1 */
.container1 {
  border: 1px solid black;

  width: 1000px;
  height: 700px; 
  display: flex;
  flex-direction: column; 
}

.header1,.footer1 {
  border: 1px solid black;
  background-color: gray;
  flex-basis: 20% 
}

.body1 {
  border: 1px solid black;
  /*container1의 자식 전용
  */
  display: flex; 
  /*body1의 item들의 부모 전용
  containor1의 자식이면서 body1의 item들의 부모이기도 하다.
  */
   flex-basis: 60% 
}

.left1 {
  border: 1px solid black;
  background-color: skyblue;
  flex-basis: 30% 

}

.center1 {
  border: 1px solid black;
  background-color: tomato;
  flex-basis: 50% 
}

.right1 {
  border: 1px solid black;
  background-color: beige;
   flex-basis: 20%
}

/*연습 문제 2*/
.container2 {
  border: 1px solid black;
  width: 1000px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.header2 {
  border: 1px solid black;
  background-color: red;
  flex-basis: 20%;
}

.body2 {
  border: 1px solid black;
  display: flex;
  flex-basis: 80%;
}

.left2 {
  border: 1px solid black;
  background-color: yellow;
  flex-basis: 30%;
}

.right2 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.top2 {
  border: 1px solid black;
  background-color: greenyellow;
  flex-basis: 75%;
}

.bottom2 {
  border: 1px solid black;
  background-color: blue;
  flex-basis: 25%;
}

/* 연습 문제 3 */
.container3 {
  border: 1px solid black;
  width: 1000px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.header3 {
  border: 1px solid black;
  background-color: yellow;
  flex-basis: 30%; 
}

.body3 {
  border: 1px solid black;
  display: flex;
  flex-basis: 70%; 
}

.left3 {
  border: 1px solid black;
  background-color: skyblue;
  flex-basis: 35%; 
}

.right3 {
  border: 1px solid black;
  display: flex;
  flex-direction: column; 
  flex-basis: 65%; 
}

.topRight3 {
  border: 1px solid black;
  display: flex;
  flex-basis: 50%;
}

.trTop3 {
  border: 1px solid black;
  background-color: aquamarine;
  flex-basis: 70%; 
}

.trBottom3 {
  border: 1px solid black;
  background-color: orangered;
  flex-basis: 30%;
}

.bottom3 {
  border: 1px solid black;
  background-color: magenta;
  flex-basis: 50%; 
}

/* 연습 문제 4*/
.container4 {
  width: 1000px;
  height: 800px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.header4,
.footer4 {
  background-color: green;
  flex: 0 0 15%;      
  border-bottom: 1px solid black;
}

.footer4 {
  border-bottom: 0;
  border-top: 1px solid black;
}

.body4 {
  flex: 1 0 auto;         
  display: flex;
}

.left4 {
  background-color: yellow;
  flex: 0 0 30%;          /
  border-right: 1px solid black;
}

.right4 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topRight4 {
  flex: 1;
  background-color: orange;
}

.bottomRight4 {
  flex: 1;
  background-color: orange;
  display: flex;
  align-items: flex-end;          
  justify-content: space-between; 
}

.red4 {
  flex: 0 30%;                
  height: 60%;                   
  background-color: red;
  border: 1px solid black;
}

/*연습 문제 5*/
.container5 {
  width: 1000px;
  height: 800px;
  border: 3px solid black;  /* 외곽선 조금 더 굵게 */
  display: flex;
  flex-direction: column;
}

.top5 {
  display: flex;
  flex-basis: 27%;
  border-bottom: 2px solid black;
}

.yellow5 {
  flex: 1;
  background-color: yellow;
  border-right: 2px solid black;
}

.yellow5:last-child {
  border-right: none;
}

.bottom5 {
  flex: 1;
  display: flex;
}

.blue-5 {
  flex: 1.1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
}

.blue5 {
  flex: 1;
  background-color: skyblue;
  border-bottom: 1px solid black;
}

.blue5:last-child {
  border-bottom: none;
}

.pink-tall5 {
  flex: 0.8;
  background-color: pink;
  border-right: 2px solid black;
}

.center5 {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
}

.orange5 {
  flex: 2;
  background-color: orange;
  border-bottom: 2px solid black;
}

.center-bottom5 {
  flex: 2;
  display: flex;
}

.green-col5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
}

.green5 {
  flex: 1;
  background-color: green;
  border-bottom: 1px solid black;
}

.green5:last-child {
  border-bottom: none;
}

.red5 {
  flex: 1;
  background-color: red;
}

.pink-right5 {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.pink5 {
  flex: 1;
  background-color: pink;
  border-bottom: 1px solid black;
}

.pink5:last-child {
  border-bottom: none;
}
